<!-- emo_form.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="card-group">
        <div class="card">
            <div class="card-body" style="background-color: #bfbfbf;">
                <h4 class="card-title">EMO MUSIC RECOMENDATION!</h4>
                <form action='/emo_results' method='GET'>
                <p>
                    <label for='emo_artists'>Check your top artists from the selection</label>
                    <br>
                    <input type="checkbox" name="artist" value="patd"> Panic! at the Disco<br>
                    <input type="checkbox" name="artist" value="ptv"> Pierce the Veil<br>
                    <input type="checkbox" name="artist" value="blink182"> Blink 182<br>
                    <input type="checkbox" name="artist" value="mcr"> My Chemical Romance<br>
                    <input type="checkbox" name="artist" value="falloutboy"> Fall Out Boy<br>
                    <input type="checkbox" name="artist" value="sws"> Sleeping With Sirens<br>
                    <input type="checkbox" name="artist" value="jimmyeatworld"> Jimmy Eat World<br>
                    <input type="checkbox" name="artist" value="linkinpark"> Linkin Park<br>
                    <input type="checkbox" name="artist" value="paramore"> Paramore<br>
                    <input type="checkbox" name="artist" value="fallinginreverse"> Falling In Reverse<br>
                    <input type="checkbox" name="artist" value="greenday"> Green Day<br>
                    <input type="checkbox" name="artist" value="maydayparade"> Mayday Parade<br>
                    <input type="checkbox" name="artist" value="21pilots"> 21 Pilots<br>
                    <input type="checkbox" name="artist" value="afa"> Asking for Alexandria<br>
                    <input type="checkbox" name="artist" value="sum41"> Sum 41<br>
                    <br>
                    <button type="submit">Submit</button>
                </p>                
                </form>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %}

{% endblock %}