<!-- login_page.html -->
{% extends 'base.html' %}

{% block content %}
            <div class="card-group">
                <div class="card">
                    <div class="card-body" style="background-color: #bfbfbf;">
                        <h4 class="card-title">QUIZ!</h4>
                        <p>username:</p>
                        <input type="text"></input> 
                        <p>password:</p>
                        <input type="text"></input>
                        <button class="btn btn-primary" type="button">Sign In!</button>
                    </div>
                </div>
            </div>

            <div class="footer-basic" style="height: 45px;background-color: rgb(43,213,40);">
                <footer>
                    <div class="social" style="background-color: #2bd528;"><a href="#" style="background-color: #fff857;"><i class="icon ion-social-instagram"></i></a><a href="#" style="background-color: #fff857;"><i class="icon ion-social-snapchat"></i></a><a href="#" style="background-color: #fff857;"><i class="icon ion-social-twitter"></i></a>
                        <a
                            href="#" style="background-color: #fff857;"><i class="icon ion-social-facebook"></i></a>
                    </div>
                    <ul class="list-inline" style="background-color: #2bd528;">
                        <li class="list-inline-item"><a href="#" style="background-color: #ff975c;">Home</a></li>
                        <li class="list-inline-item"><a href="#" style="background-color: #ff975c;">Services</a></li>
                        <li class="list-inline-item"><a href="#" style="background-color: #ff975c;">About</a></li>
                        <li class="list-inline-item"><a href="#" style="background-color: #ff975c;">Terms</a></li>
                        <li class="list-inline-item"><a href="#" style="background-color: #ff975c;">Privacy Policy</a></li>
                    </ul>
                    <p class="copyright"></p>
                </footer>
            </div>
            <script src="static/js/jquery.min.js"></script>
            <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

{% endblock %}