<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>recMe</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<main class="main-container">
		<section>
			<div class="form">
                <p>input artist names, seperate with a comma</p>
				<form action="">
					<input type="search" value="">
					<input type="submit" value="Create">
                </form>
			</div>
			<div class="playlist">
				<div class="loader">
					<div class="inner-circle"></div>
				</div>
			</div>
		</section>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="static/js/script.js"></script>
</body>
</html>